body{
    margin: 20px;
    background-color: #000000;
    color: #cfc8c8;
}
h1{
    text-align: center;
    color: #decf2c;
}
hr{
    border: 1px solid #decf2c;
}
p{
    font-size: 18px;
    line-height: 1.6;
}

.fleur topright{
    position : relative
    top 0;
    right 0;
    
}


}